<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>student list</title>
  </head>
  <body>
    <div class="student-list">
      <div class="student-list">
        <div class="student-data" *ngFor="let item of list">
          <div class="student-id item">{{ item.id }}</div>
          <div class="student-name item">{{ item.name }}</div>
          <div class="student-class item">{{ item.class }}</div>
          <div class="btn">
            <a routerLink="/input-form/{{item.id}}">
              <button id="editbtn" (click)="onedit(item)"> Edit</button>
            </a>
          </div>
          <div class="btn">
            <button id="deletebtn" (click)="ondelete(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
