<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input form</title>
</head>
<body>
    <div class=input-container>
        <form #userpost="ngForm">
            <div class='input'>
                <mat-form-field class="example-full-width">
                    <mat-label>Enter name</mat-label>
                    <input matInput #message maxlength="256" placeholder="Ex. Purushottam Pradhan..." id="name" type="text" name='name' [(ngModel)]=" userobj.name">
                    <!-- <mat-error>You must enter name </mat-error> -->
                  </mat-form-field>
            </div>
            <div class='input'>
                    <mat-form-field class="example-full-width">
                    <mat-label>Enter Class</mat-label>
                    <input matInput  #message maxlength="256" placeholder="Ex. MCA..." id="class" type="text" name='class' [(ngModel)]=" userobj.class">
                    <!-- <mat-error>You must enter class </mat-error> -->
                  </mat-form-field>
            </div>
            <div class='btn'>
                <button mat-button id='submit' type="submit" (click)="onSubmit(userpost.value)" *ngIf="!isedit">Submit</button>
                <button mat-button id='edit' type="submit" *ngIf="isedit" (click)="onUpdate(userpost.value)">Update</button>
                <button mat-button id='cancle' type="reset" (click)="cancle()">Cancle</button>
            </div>
  
        </form>

    </div>
      
</body>
</html>
