<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input form</title>
</head>
<body>
    <div class=input-container>
        <form #userpost="ngForm">
            <!-- <form [formGroup]="studentdetails" #userpost="ngForm" (ngSubmit)="onSubmit(userpost.value)"  >            -->
            <div class='input'>
                <label for="name">Name:</label>
                <input id="name" type="text" name='name' [(ngModel)]=" userobj.name">
            </div>
            <div class='input'>
                <label for="class">Class:</label>
                <input id="class" type="text" name='class' [(ngModel)]=" userobj.class">
            </div>
            <div class='btn'>
                <button id='submit' type="submit" (click)="onSubmit(userpost.value)" *ngIf="!isedit">Submit</button>
                <button id='edit' type="submit" *ngIf="isedit" (click)="onUpdate(userpost.value)">Update</button>
                <button id='cancle' type="reset" (click)="cancle()">Cancle</button>
            </div>
        </form>

    </div>
        <!-- <form #userpost="ngForm" (ngSubmit)="onSubmit(userpost.value)">

    <input type="text" name="name" ngModel placeholder="enter name"><br>
    <input type="text" name="class" ngModel placeholder="enter class"><br>
    <button type="submit">submit data</button>
  </form> -->
</body>
</html>
