.input-container{
    border: 3px solid black;
    display: inline-block;
    padding: 40px;
    margin: auto;
}
.input{
    padding: 8px;
}
#submit{
    margin-right: 10px;
    background-color: rgb(150, 233, 142);
    border-radius: 4px;
}
#cancle{
    margin-left: 10px;
    background-color: yellow;
    border-radius: 4px;
}
#edit{
    margin-right: 10px;
    background-color: rgb(120, 236, 110);
    border-radius: 4px;
}